.account-content {
  max-width: 536px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.account-box {
  padding: 10px;
}

.account-link-image {
  width: 256px;
}

.account-settings-box {
  height: 48px;
  line-height: 48px;
  padding:5px;
}

.account-settings-box span.fa {
  padding: 12px;
}

.account-settings-label {
  color: black;
  width: 100px;
}

.newsletter-checkbox-form {
  margin-top: 10px;
}
